body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 104px;
}

& {
  font-family: monospace;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.d-flex {
  display: flex;
}

#content {
  padding-top: 50px;
}